apiVersion: v1
kind: Service
metadata:
  name: {{ include "101application.fullname" . }}
  labels:
    {{- include "101application.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      nodePort: 30010
  selector:
    {{- include "101application.selectorLabels" . | nindent 4 }}
